{% if user.is_authenticated %}   
<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
<meta charset="utf-8">
<!-- Mobile viewport optimized: j.mp/bplateviewport -->
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="shortcut icon" href="{{STATIC_URL}}style/img/logo_jass1.png"  type="image/x-icon" />

<title>JASS</title>
<meta name="description" content="">
<meta name="keywords" content="">

<!-- CSS-->
<link href= "{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href= "{{STATIC_URL}}bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href= "{{STATIC_URL}}bootstrap/css/dataTables.bootstrap.css" rel="stylesheet"> 
<link href= "{{STATIC_URL}}table/css/dataTables.tableTools.min.css" rel="stylesheet">
<link href= "{{STATIC_URL}}clock/css/jquery.countdownTimer.css" rel="stylesheet"/>

<link href= "{{STATIC_URL}}style/css/normalize.css" rel="stylesheet">
<link href= "{{STATIC_URL}}style/css/grid.css" rel="stylesheet">
<link href= "{{STATIC_URL}}style/css/superfish.css" rel="stylesheet">
<link href= "{{STATIC_URL}}style/css/flexslider.css" rel="stylesheet">
<link href= "{{STATIC_URL}}style/css/style.css" rel="stylesheet">
<link href= "{{STATIC_URL}}sweetalert/sweetalert.css" rel="stylesheet">
<!-- end CSS-->
    
<!-- JS-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="{{STATIC_URL}}jquery/js/jquery.min.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/jquery.dataTables.min.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/dataTables.bootstrap.js"></script>
<script src="{{STATIC_URL}}table/js/dataTables.tableTools.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/moment.min.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{STATIC_URL}}clock/js/jquery.countdownTimer.js"></script>
<script src="{{STATIC_URL}}table/js/sortTable.js"></script>
<script src="{{STATIC_URL}}sweetalert/sweetalert.min.js"></script>

<script src='{{STATIC_URL}}style/js/send.js'></script>
<!-- end JS-->
</head>

<body onLoad="setTimeout(function() {window.scrollTo(0, 1)}, 100)" id="home">

  <div id="container" class="clearfix">
  
<!-- header area -->
    <header>
		       
        <div id="banner">
        
        	<div id="logo"><img src="{{STATIC_URL}}style/img/LogoJASS.png" width="960" height="200" alt="logo"></div>
            
			<hgroup>
			  <h1></h1>
				<h2></h2>
			</hgroup>            
        </div>
        
        <nav id="topnav" role="navigation" class="clearfix">  
        	<ul class="sf-menu" id="mobileselect">
			<li class="current">
				<a href="/send">Envio de Mensajes</a>
			</li>
			<li>
				<a href="/go" TARGET="_new">Administración</a>
			</li>
			<li>
				<a href="/guide">Guia</a>
			</li>	

			<li>
				<a href="/close">Salir</a>
			</li>	
		</ul>     
		</nav><!-- #access -->
        
<!-- responsive flexslider image slideshow -->
    <div class="flexslider">
    	{% block content_ok %}
		{% endblock %}   
	</div>
<!-- flexslider -->
        
    </header><!-- end header -->
    

<!-- main content area -->   
    <div id="main" role="main">
    

  </div><!-- #end main -->
    

</div> <!--! end of #container --> 
<!-- footer area -->    
<footer>
	<div id="colophon" class="clearfix">
    	<img src="{{STATIC_URL}}style/img/IntegrantesJASS.png" width="960" height="200" alt="logo">
    </div>
</footer>
    

	
</body>
</html>

{% else %}
	<a id = "here" href="/"> Login</a>
{% endif %}