{% extends "index.html" %}

{% block content_ok %}
   <ul class="slides">
            <li>
                <img src="{{STATIC_URL}}style/img/pic1.jpg" />
                <p class="{{STATIC_URL}}flex-caption">Perú</p>
            </li>
            <li>
                <img src="{{STATIC_URL}}style/img/pic2.jpg" />
                <p class="flex-caption">Perú</p>
            </li>
            <li>
                <img src="{{STATIC_URL}}style/img/pic3.jpg" />
                <p class="flex-caption">Perú</p>
            </li>
            <li>
                <img src="{{STATIC_URL}}style/img/pic4.jpg" />
                <p class="flex-caption">Perú</p>
            </li>
    </ul>

{% endblock %}